body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav{
    width: 100%;
    height: 11vh;
    background-color: darkred;
}

#nav > ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: white;
}

#nav > ul > .logo{
    margin-right: auto;
    font-size: 30px;
/*    font-family: cursive;*/
}

#nav > ul #logo{
    width: 70px;
    border: 2px white solid;
    border-radius: 10px;
    margin: 20px 12px 0 12px;
    text-align: center;
}

#nav > ul > .menu-item{
    margin: 22px 12px;
    font-size: 17px;
}

#nav > ul a{
    color: white;
    text-decoration: none;
}

#nav > ul > .menu-item a:hover{
    color: black;
    
}

#cover{
  width:100%;
  height:90vh;
  background:url(cover-image.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
  background-position:center bottom;
}

#cover h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
}



/************menu.html start**************/

body>p{
    font-size: 50px;
    text-align: center;
}

#food-menu-container{
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: goldenrod;
}

.food-menu-item{
    border-top: 1px black solid;
    width: 100%;
    height: 120px;
    display: flex;
}

.food-menu-item > .item-picture{
    width: 27%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-picture img{
    width: 100%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-body{
    width: 73%;
    text-align: center;
    font-size: 13px;
    padding: 0 4px;
}

.food-menu-item > .item-body h3{
    margin: 6px 0 0 0;
}

.food-menu-item > .item-body p{
    margin: 8px 0 6px 0;
}

.food-menu-item > .item-body button{
    background-color: orangered;
    position: relative;
    top: 15px;
    border: none;
}

/************menu.html end**************/


@media (max-width: 545px) {
    #nav > ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #nav > ul > .logo{
        flex-basis: 100%;
        margin: auto;
        font-size: 20px;
/*        text-align: center;*/
    }
    
    #nav > ul #logo{
        margin: 12px auto 0 auto;
        width: 50px;
    }
    
    #nav > ul > .menu-item{
        flex-shrink: 1;
        font-size: 14px;
        margin: 10px 8px;
    }
    
    #cover h1{
        font-size: 30px;
        margin-top: 140px;
    }
}

@media (max-width: 445px) {
    .food-menu-item > .item-body button{
        top: 10px;
        font-size: 11px;
    }
    
    .food-menu-item{
        height: 140px;
    }
}