body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
/*    background-color: black;*/
}

#nav{
    width: 100%;
    height: 11vh;
    background-color: darkred;
}

#nav > ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: white;
}

#nav > ul > .logo{
    margin-right: auto;
    font-size: 30px;
}

#nav > ul #logo{
    width: 70px;
    border: 2px white solid;
    border-radius: 10px;
    margin: 20px 12px 0 12px;
    text-align: center;
}

#nav > ul > .menu-item{
    margin: 22px 12px;
    font-size: 17px;
}

#nav > ul a{
    color: white;
    text-decoration: none;
}

#nav > ul > .menu-item a:hover{
    color: black;
    
}

#home-container{
    height: 89vh;
    background:url(delicious.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

#cover-shade{
    height: 89vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.5);     */
    margin: 0px;
    position: absolute;
    /* opacity: 0.5; */
}

#cover{
    margin: 150px auto;
    max-width: 1000px;
    height: 100px;
    text-align: center;
}

#cover h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 0px;
}

#cover p{
    color: white;
    font-weight: 700;
    font-size: 18px;
}

#cover button{
    color: white;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}



/************menu.html start**************/

.heading{
    font-size: 50px;
    text-align: center;
}

#food-menu-container{
    width: 70%;
    height: auto;
    margin: 50px auto;
    border-bottom: 1px black solid;
/*    background-color: goldenrod;*/
}

.food-menu-item{
    border-top: 1px black solid;
    border-right: 1px black solid;
    width: 100%;
    height: 120px;
    display: flex;
}

.food-menu-item > .item-picture{
    width: 27%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-picture img{
    width: 100%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-body{
    width: 73%;
    text-align: center;
    font-size: 13px;
    padding: 0 4px;
}

.button{
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.food-menu-item > .item-body h3{
    margin: 6px 0 0 0;
}

.food-menu-item > .item-body p{
    margin: 8px 0 6px 0;
}

.food-menu-item > .item-body button{
    background-color: orangered;
    position: relative;
    top: 15px;
    border: none;
}

/************menu.html end**************/


/************admin-menu.html start**************/

#add-to-menu{
    width: 100%;
    background-color: midnightblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

#add-to-menu > h2{
    font-size: 30px;
    text-align: center;
}

.input{
    width: 300px;
    margin: 5px 0 20px 0;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 3px;
}

.submit-button{
    background-color: orangered;
    border: none;
    border-radius: 5px;    
    width: 300px;
    text-align: center;
    height: 30px;
}

#add-to-menu textarea{
    width: 200px;
    height: 80px;
    resize: none;
}

#add-to-menu > #new-item-form{
    margin: 0 auto;
    width: 210px;
}

/************admin-menu.html end**************/


/************admin-orders.html start**************/

#order-container{
    width: 50%;
    height: auto;
    margin: 30px auto;
    border-top: 1px black solid;
}

.order{
    height: auto;
    border-bottom: 1px black solid; 
    
}
.order tr{
    margin: 0 auto;
}

.order table{
    margin: 20px auto;
    border-spacing: 100px 0;
}
.order .info{
    font-weight: 700;
}

.order #buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.order #buttons > button{
    border: none;
    margin: 0 10px;
    font-size: 14px;
}
.order #buttons > #accept-order{
    background-color: green;
}

.order #buttons > #decline-order{
    background-color: red;
}

.order #buttons > #order-complete{
    background-color: orange;
}

/************admin-orders.html end**************/


/************signin area start**************/
#container{
    height: 89vh;
    background:url(cover-image.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

#signin-container{
    margin: 150px auto;
    max-width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: goldenrod */
}

#sign-in-text{
    width: 500px;
    height: 200px;
    color: white;
    font-weight: 100;
    /* background-color: red; */
    margin-right: 30px;
}

#sign-in-div{
    width: auto;
    height: 200px;
    text-align: center;
    /* background-color: midnightblue; */
    color: white;  
}

#sign-in-div > form{
    position: relative;
    top: 20px;
}

#sign-in-div > p{
    position: relative;
    top: 20px;
}

/************signin area end**************/


@media (max-width: 861px) {
    #signin-container{
        max-width: 500px;
        margin: 75px auto;
    }
    #sign-in-text > h4{
        display: none;
    }
    #sign-in-div > form{
        position: relative;
        top: -80px;
    }
    #sign-in-div > p{
        position: relative;
        top: -80px;
    }
    #sign-in-text{
        width: 300px;
        height: 200px;
        margin: 0 0 15px 0;
    }
}
@media (max-width: 545px) {
    #nav > ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #nav > ul > .logo{
        flex-basis: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    #nav > ul #logo{
        margin: 12px auto 0 auto;
        width: 50px;
    }
    
    #nav > ul > .menu-item{
        flex-shrink: 1;
        font-size: 14px;
        margin: 10px 8px;
    }
    
    #cover h1{
        font-size: 30px;
        margin-top: 140px;
    }
}

@media (max-width: 445px) {
    .food-menu-item > .item-body button{
        top: 10px;
        font-size: 11px;
    }
    
    .food-menu-item{
        height: 140px;
    }
    
    #sign-in-div{
        width: 80%;
    }

    #signin-container{
        max-width: 300px;
        margin: 75px auto;
    }
    #sign-in-div > form{
        position: relative;
        top: -60px;
    }
    #sign-in-text{
        width: 200px;
        height: 200px;
    }
    #sign-in-div > p{
        position: relative;
        top: -50px;
    }
    .input{
        width: 200px;
    }
    .submit-button{
        width: 200px;
    }
}