body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 23px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 12px 0;
}

.post-result{
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    padding: 2px 0;
    display: none;
    color: black;
    border-radius: 5px;
    font-size: 14px;
}

#order-result{
    width: 80%;
    position: fixed;
    text-align: center;
    margin: 0 10%;
    padding: 6px 0;
    display: none;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    z-index: 999;
}

.error-div{
    background-color: rgb(245, 135, 135); 
}

.success-div{
    background-color: rgb(135, 245, 135);
}

.loading>img{
    height: 45px;
    width: 45px;
    display: none;
}

#nav{
    width: 100%;
    height: 11vh;
    background-color: darkred;
}

#nav > ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: white;
}

#nav > ul > .logo{
    margin-right: auto;
    font-size: 30px;
}

#nav > ul #logo{
    width: 70px;
    border: 2px white solid;
    border-radius: 10px;
    margin: 20px 12px 0 12px;
    text-align: center;
}

#nav > ul > .menu-item{
    margin: 22px 12px;
    font-size: 17px;
}

#nav > ul a{
    color: white;
    text-decoration: none;
}

#nav > ul > .menu-item a:hover{
    color: black;
    
}

#home-container{
    height: 89vh;
    background:url(delicious.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

#cover-shade{
    height: 89vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);    
    margin: 0px;
    position: absolute;
}

#cover{
    margin: 150px auto;
    max-width: 1000px;
    height: 100px;
    text-align: center;
}

#cover h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 0px;
}

#cover p{
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#cover button{
    color: white;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#cover button:hover{
    background-color: rgb(0, 4, 255);
}



/************menu.html start**************/

.heading{
    font-size: 50px;
    text-align: center;
}

#food-menu-container{
    width: 70%;
    height: auto;
    margin: 50px auto;
    border-bottom: 1px black solid;
/*    background-color: goldenrod;*/
}

.food-menu-item{
    border-top: 1px black solid;
    border-right: 1px black solid;
    width: 100%;
    height: 120px;
    display: flex;
}

.food-menu-item > .item-picture{
    width: 27%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-picture img{
    width: 27%;
    height: 100%;
/*    background-color: green;*/
}

.food-menu-item > .item-body{
    width: 73%;
    text-align: center;
    font-size: 13px;
    padding: 0 4px;
}

.button{
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.food-menu-item > .item-body h3{
    margin: 6px 0 0 0;
}

.food-menu-item > .item-body p{
    margin: 8px 0 6px 0;
}

.food-menu-item > .item-body button{
    background-color: orangered;
    position: relative;
    top: 15px;
    border: none;
}

/************menu.html end**************/


/************admin-menu.html start**************/
#add-menu{
    height: 50px;
    width: 200px;
    background-color: blue;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 7px;
    margin:10px 40px;
    float: right;
}
#add-menu:hover{
    background-color: black;
}
#add-to-menu{
    width: 100%;
    background-color: midnightblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 80px;
}

#add-to-menu > h2{
    font-size: 30px;
    text-align: center;
}

.input{
    width: 300px;
    margin: 5px 0 20px 0;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 3px;
}

.submit-button{
    background-color: orangered;
    border: none;
    border-radius: 5px;    
    width: 300px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

#add-to-menu textarea{
    width: 200px;
    height: 80px;
    resize: none;
}

#add-to-menu > #new-item-form{
    margin: 0 auto;
    width: 307px;
}

/************admin-menu.html end**************/


/************admin-orders.html start**************/

#order-container{
    width: 50%;
    height: auto;
    margin: 30px auto;
    border-top: 1px black solid;
}

.order{
    height: auto;
    border-bottom: 1px black solid; 
    
}
.order tr{
    margin: 0 auto;
}

.order table{
    margin: 20px auto;
    border-spacing: 100px 0;
}
.order .info{
    font-weight: 700;
}

.order #buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.order #buttons > button{
    border: none;
    margin: 0 10px;
    font-size: 14px;
}
.accept-order{
    background-color: green;
}

.decline-order{
    background-color: red;
}

.order-complete{
    background-color: orange;
}

/************admin-orders.html end**************/


/************signin area start**************/
#container{
    height: 89vh;
    background:url(cover.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

#signin-container{
    margin: 150px auto;
    max-width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#sign-in-text{
    width: 500px;
    height: 200px;
    color: white;
    font-weight: 100;
    margin-right: 30px;
}

#sign-in-div{
    width: auto;
    height: 200px;
    text-align: center;
    color: white;  
}

#sign-in-div > form{
    position: relative;
    top: 20px;
}

#sign-in-div > p{
    position: relative;
    margin-top: 30px;
}

/************signin area end**************/

/************new-menu style**************/

#new-container{
    margin: 0;
    position: relative;
    top: -27px;
}
#jumbotrun{
    height: 250px;
    width: 100%;
    background:url(https://www.britishairways.com/assets/images/MediaHub/Media-Database/Royalty-free-RF/Food-and-drink/First/Food_01_First_Taster_Menu_Pork_870x290.jpg);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size:cover;
}

#jumbotrun #text{
    position: relative;
    top: 80px;
    left: 45px;
    font-size: 20px;
}
#jumbotrun > #text-shade{
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.548);
}
#jumbotrun #text > h1{
    color: white;
}
#new-menu-items{
    margin: 40px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#one-food{
    height: 300px;
    width: 220px;
    box-shadow: 0 3px 5px #888888;
    margin: 0 30px 40px 0;
}
#admin-jumbo{
    width: 100%;
    padding: 30px 0;
    background-color: lavender;
    position: relative;
    margin-bottom: 60px;
}
#admin-jumbo > p{
    font-size: 60px;
    display: inline;
    margin: 0 40px;
}
#admin-one-food{
    height: 360px;
    width: 220px;
    box-shadow: 0 3px 5px #888888;
    margin: 0 30px 40px 0;
}
#admin-one-food > #one-food-pic{
    height: 150px;
    width: 220px;
}
#admin-one-food > #one-food-pic img{
    width: 220px;
    height: 150px;
}
#admin-one-food > #admin-one-food-text{
    margin: 10px;
}
#admin-one-food-text > button{
    position: relative;
    top: -33px;
    height: 40px;
    width: 90px;
    float: right;
    background-color: green;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    border: none;
}
#admin-one-food-text > button:hover{
    background-color: orangered;
}
#one-food > #one-food-pic{
    height: 150px;
    width: 220px;
}
#one-food > #one-food-pic img{
    width: 220px;
    height: 150px;
}
#one-food > #one-food-text{
    margin: 10px;
}
#one-food-text > span{
    font-size: 12px;
    position: relative;
    top: -10px;
}
#one-food-text > button{
    position: relative;
    top: -53px;
    height: 40px;
    width: 100px;
    float: right;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    border: none;
}
#one-food-text > button:hover{
    background-color: orangered;
}

/* *******new-menu.html styles end****** */
/************history-page**************/

#jumbo{
    width: 100%;
    padding: 30px 0;
    background-color: lightgrey;
    position: relative;
}
#jumbo > p{
    font-size: 60px;
    display: inline;
    margin: 0 40px;
}
#hist-container > #new-admin-buttons{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
#hist-container > #new-admin-buttons > button{
    height: 35px;
    background-color: green;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    margin: 0 10px 0 0;
    width: 120px;
}
#hist-container > #new-admin-buttons > button:hover{
    background-color: orangered;
}
#hist-container{
    width: 85%;
    margin: 30px auto;
}
#hist-container hr{
    border: 1px #F2F3F5 solid;
}
#hist-container > #hist-row{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}
#hist-row > #hist-pic{
    height: 100px;
    width: 180px;
    margin-right: 20px;
}
#hist-row > #hist-details{
    display: flex;
    /* background-color: blue; */
    height: 20px;
}

#hist-row #order-status{
    font-size: 14px;
    font-style: italic;
}

#hist-row > button{
    height: 40px;
    background-color: green;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin: 28px 0 10px 15px;
    float: right;
}
#hist-row > button:hover{
    background-color: orangered
}
#hist-details > #detail{
    margin-right: 50px;
    display: inline;
}
#hist-row > #hist-pic img{
    width: 180px;
    height: 100px;
}
#hist-row > #title{
    display: inline;
}
#hist-row > #title P{
    margin: 0 120px 0 0px;
    font-weight: bold;
    color: #003845;
    width: 150px;
}
.next-button{
    background-color:grey;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/************history-page end**************/
@media (max-width: 1083px) {
    #hist-row > #title P{
        margin: 0 70px 0 0px;
    }
}
@media (max-width: 1023px) {
    #hist-row > #hist-details{
        width: 90%;
    }
    #hist-row > #hist-pic{
        margin-bottom: 10px;
    }
}
@media (max-width: 861px) {
    #hist-row > button{
        margin-left: 0;
    }
    #signin-container{
        max-width: 500px;
        margin: 75px auto;
    }
    #sign-in-text > h4{
        display: none;
    }
    #sign-in-div > form{
        position: relative;
        top: -80px;
    }
    #sign-in-div > p{
        position: relative;
        top: -80px;
    }
    #sign-in-text{
        width: 300px;
        height: 200px;
        margin: 0 0 15px 0;
    }
    .post-result{
        position: relative;
        top: -80px;
    }
}
@media (max-width: 545px) {
    #nav > ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #nav > ul > .logo{
        flex-basis: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    #nav > ul #logo{
        margin: 12px auto 0 auto;
        width: 50px;
    }
    
    #nav > ul > .menu-item{
        flex-shrink: 1;
        font-size: 14px;
        margin: 10px 8px;
    }
    
    #cover h1{
        font-size: 30px;
        margin-top: 140px;
    }
}

@media (max-width: 441px) {
    #hist-row > #title P{
        /* margin: 0 0 5px 0; */
    }
}
@media (max-width: 445px) {
    .food-menu-item > .item-body button{
        top: 10px;
        font-size: 11px;
    }
    
    .food-menu-item{
        height: 140px;
    }
    
    #sign-in-div{
        width: 80%;
    }

    #signin-container{
        max-width: 300px;
        margin: 35px auto;
    }
    #sign-in-div > form{
        position: relative;
        top: -60px;
    }
    #sign-in-text{
        width: 200px;
        height: 200px;
    }
    #sign-in-div > p{
        position: relative;
        top: -50px;
    }
    .input{
        width: 200px;
    }
    .submit-button{
        width: 200px;
    }
}

@media (max-width: 407px) {
    #hist-row > button{
        margin-top: 50px;
        width: 100%;
    }
}